# python
.venv/
venv/
__pycache__/
*.egg-info/
.python-version

# general cache
.cache/
temp/
tmp/
dist/
build/
dev/
volumes/
.DS_Store

# local files
*.log
*extra_model_paths.yaml
*.env
config/*
scripts/*

# exclude examples
!example.env
!config/example.toml
!*.keep
!*.example
